// Colors
$gray: #eee;

// Angular
[ng-click] {
  &:hover {
    cursor: pointer;
  }
}

.app-silos {
  & > div {
    position: relative;
  }
  & > div:not(:first-of-type),
  & > div:not(:last-of-type) {
    border-right: 1px solid #37474F;
  }
}

// Main content bg color
md-content[class*="-theme"] {
  background-color: $gray;
}

.text-center {
  text-align: center;
}
md-toolbar {
  &.md-short {
    height: 40px;
    min-height: 40px;
    max-height: 40px;
  }
}
