md-list-item.md-3-line.md-long-text {
  margin-top: 10px !important;
  padding-right: 0;
  padding-left: 0;
}

md-card-actions {
  margin: 8px 4px 0 4px !important;
  padding: 0 !important;
  &,
  & * {
    color: gray;
    fill: gray;
  }
  md-icon {
    height: 16px;
    width: 16px;
  }
  .md-button {
    font-size: 10px;
  }
}

// Round avatar
.md-avatar {
  height: 40px;
  width: 40px !important;
  & > svg {
    border-radius: 50%;
  }
}
